assignments/E2E-Server.json
[{"id":"c3e0ea5f.336048","type":"tab","label":"E2E Server"},{"id":"804b6d66.82fee","type":"rbe","z":"c3e0ea5f.336048","name":"","func":"rbe","gap":"","start":"","inout":"out","x":310,"y":80,"wires":[["25aebfb3.9b548"]]},{"id":"955f4668.13e1c8","type":"ibmiot in","z":"c3e0ea5f.336048","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"SenseHAT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":80,"wires":[["f48f359b.76c1a8"]]},{"id":"f48f359b.76c1a8","type":"function","z":"c3e0ea5f.336048","name":"","func":"if (msg.payload.d.temperature) {\n    msg.payload = msg.payload.d.temperature > 29 ? true : false;\n    return msg;\n}","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["804b6d66.82fee"]]},{"id":"a4f0f734.530568","type":"ibmiot out","z":"c3e0ea5f.336048","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827ebac380c","deviceType":"RaspberryPi","eventCommandType":"display","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":80,"wires":[]},{"id":"25aebfb3.9b548","type":"switch","z":"c3e0ea5f.336048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":430,"y":80,"wires":[["856d33f8.f3917"],["d6288b96.acc258"]]},{"id":"856d33f8.f3917","type":"function","z":"c3e0ea5f.336048","name":"","func":"msg.payload = { screen: 'on' };\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["a4f0f734.530568"]]},{"id":"d6288b96.acc258","type":"function","z":"c3e0ea5f.336048","name":"","func":"msg.payload = { screen: 'off' };\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["a4f0f734.530568"]]}]