assignments/E2E-Client.json
[{"id":"53024b01.e57084","type":"tab","label":"E2E Client"},{"id":"2aed5a69.e45f96","type":"rpi-sensehat in","z":"53024b01.e57084","name":"Environmental","motion":false,"env":true,"stick":false,"x":90,"y":140,"wires":[["e0ba64d3.f85e88"]]},{"id":"6944d72e.3882d8","type":"wiotp out","z":"53024b01.e57084","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"e4f6a6e6.ba15f8","deviceType":"RaspberryPi","deviceId":"b827ebac380c","event":"event","format":"json","name":"","x":590,"y":180,"wires":[]},{"id":"e4416356.12ac6","type":"function","z":"53024b01.e57084","name":"","func":"delete msg.payload.pressure;\nmsg.payload = { d: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["6944d72e.3882d8"]]},{"id":"e0ba64d3.f85e88","type":"delay","z":"53024b01.e57084","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":140,"wires":[["e4416356.12ac6"]]},{"id":"f49201f1.ecaed","type":"inject","z":"53024b01.e57084","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":90,"y":220,"wires":[["dc210256.bf956"]]},{"id":"dc210256.bf956","type":"exec","z":"53024b01.e57084","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"","timer":"","name":"","x":266.5,"y":214.5,"wires":[["9b6cac8c.1e1c9"],[],[]]},{"id":"9b6cac8c.1e1c9","type":"function","z":"53024b01.e57084","name":"","func":"msg.payload = { d: { temp: parseFloat(msg.payload.split('=')[1]) }};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["6944d72e.3882d8"]]},{"id":"b1c8a63f.ab82b8","type":"wiotp in","z":"53024b01.e57084","authType":"g","deviceKey":"e4f6a6e6.ba15f8","deviceType":"RaspberryPi","deviceId":"b827ebac380c","command":"+","commandType":"d","name":"","x":90,"y":300,"wires":[["b22af2f1.6d177"]]},{"id":"b22af2f1.6d177","type":"function","z":"53024b01.e57084","name":"","func":"console.log(msg.payload.screen);\nconsole.log('got command!!!!')\nmsg.payload = msg.payload.screen === 'on';\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["54894c61.327534"]]},{"id":"d9548cd3.1ef61","type":"rpi-sensehat in","z":"53024b01.e57084","name":"","motion":false,"env":true,"stick":false,"x":90,"y":400,"wires":[["c9c92bef.31b228"]]},{"id":"a33028f0.54f788","type":"function","z":"53024b01.e57084","name":"","func":"let temp = flow.get('temp') || 0;\nlet screenVal = flow.get('screen');\nlet background = screenVal === undefined ? 'black' :\n                 screenVal === true ? 'red' : 'green';\nmsg.payload = '*,*,' + background + '\\n' + tempToPixels(temp);\nreturn msg;\n\n// tempToPixels :: Number -> String\nfunction tempToPixels(temp) {\n    return tempToPointArray(temp).map(tuple => `${tuple.join(',')},silver`).join('\\n');\n}\n\n// tempToPointArray :: Number -> [[Number, Number]]\nfunction tempToPointArray(temp) {\n    const tensOffset = [1, 1],\n          onesOffset = [1, 5];\n\n    let tens = Math.floor(temp / 10),\n        ones = temp % 10,\n        point,\n        arr = [];\n\n    if (tens > 0) for (point of points(...tensOffset)) {\n        arr.push(point);\n        if (--tens <= 0) break;\n    }\n\n    if (ones > 0) for (point of points(...onesOffset)) {\n        arr.push(point);\n        if (--ones <= 0) break;\n    }\n\n    return arr;\n\n    function* points(rowOffset = 0, colOffset = 0) {\n        let row = 0,\n            col = 0;\n\n        while (true) {\n            if (col === 2) {\n                col = 0;\n                row++;\n            }\n            yield [col + colOffset, row + rowOffset];\n            col++;\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["f242cc50.36d09"]]},{"id":"f242cc50.36d09","type":"rpi-sensehat out","z":"53024b01.e57084","name":"","x":690,"y":340,"wires":[]},{"id":"54894c61.327534","type":"function","z":"53024b01.e57084","name":"","func":"flow.set('screen', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["a33028f0.54f788"]]},{"id":"c9c92bef.31b228","type":"function","z":"53024b01.e57084","name":"","func":"flow.set('temp', Math.floor(msg.payload.temperature * (9/5) + 32));\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["a33028f0.54f788"]]},{"id":"e4f6a6e6.ba15f8","type":"wiotp-credentials","z":"","name":"","org":"dd6w0b","devType":"RaspberryPi","devId":"b827ebac380c"}]