assignments/FirstNodeRedApplication.json
[{"id":"27818527.1dd7ba","type":"tab","label":"Flow 1"},{"id":"9e1fc54.0723438","type":"random","z":"27818527.1dd7ba","name":"generate a random number from 0 to 10 inclusive","low":"0","high":"10","inte":"true","x":550,"y":240,"wires":[["9c6a1787.86a058"]]},{"id":"da56d5fd.c5a9d8","type":"inject","z":"27818527.1dd7ba","name":"every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":190,"y":240,"wires":[["9e1fc54.0723438"]]},{"id":"9c6a1787.86a058","type":"switch","z":"27818527.1dd7ba","name":"if less than 5; else","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"gte","v":"5","vt":"num"}],"checkall":"true","outputs":2,"x":130,"y":380,"wires":[["2e6e554f.6eb9ba"],["91bdab8.54eec58"]]},{"id":"2e6e554f.6eb9ba","type":"function","z":"27818527.1dd7ba","name":"output a \"Number is low\" message.","func":"msg.payload = `Number ${ msg.payload } is a low number`;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["a846b890.204398"]]},{"id":"91bdab8.54eec58","type":"function","z":"27818527.1dd7ba","name":"output a \"Number is high\" message.","func":"msg.payload = `Number ${ msg.payload } is a high number`;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["a846b890.204398"]]},{"id":"a846b890.204398","type":"debug","z":"27818527.1dd7ba","name":"","active":true,"console":"false","complete":"false","x":670,"y":380,"wires":[]}]