assignments/FirstNodeRedApplication.json
[{"id":"f31d689e.d44558","type":"tab","label":"Assignment 1"},{"id":"7f6fabc8.5e0014","type":"random","z":"f31d689e.d44558","name":"generate a random number from 0 to 10 inclusive","low":"0","high":"10","inte":"true","x":600,"y":260,"wires":[["153d8bb5.ab5a84"]]},{"id":"cd9f697a.840b68","type":"inject","z":"f31d689e.d44558","name":"every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":240,"y":260,"wires":[["7f6fabc8.5e0014"]]},{"id":"153d8bb5.ab5a84","type":"switch","z":"f31d689e.d44558","name":"if less than 5; else","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"gte","v":"5","vt":"num"}],"checkall":"true","outputs":2,"x":180,"y":400,"wires":[["b29e89cd.12e7b8"],["bee53040.76536"]]},{"id":"b29e89cd.12e7b8","type":"function","z":"f31d689e.d44558","name":"output a \"Number _ is a low number\" message","func":"msg.payload = `Number ${ msg.payload } is a low number`;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["83f6daf2.a7c858"]]},{"id":"bee53040.76536","type":"function","z":"f31d689e.d44558","name":"output a \"Number _ is a high number\" message","func":"msg.payload = `Number ${ msg.payload } is a high number`;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["83f6daf2.a7c858"]]},{"id":"83f6daf2.a7c858","type":"debug","z":"f31d689e.d44558","name":"to the debug tab.","active":true,"console":"false","complete":"payload","x":810,"y":400,"wires":[]}]