assignments/NodeREDApplication.json
[{"id":"7c1a2c8a.ecd2b4","type":"tab","label":"Assignment 2"},{"id":"3b601516.ac341a","type":"http in","z":"7c1a2c8a.ecd2b4","name":"/time","url":"/time","method":"get","swaggerDoc":"","x":130,"y":120,"wires":[["a9ea2de5.947d5"]]},{"id":"43899d07.f6ed94","type":"http in","z":"7c1a2c8a.ecd2b4","name":"/random","url":"/random","method":"get","swaggerDoc":"","x":140,"y":200,"wires":[["7db931c0.5cc6d"]]},{"id":"d8810767.7dc7c8","type":"http in","z":"7c1a2c8a.ecd2b4","name":"/page","url":"/page","method":"get","swaggerDoc":"","x":130,"y":280,"wires":[["e7eebab0.d6f198"]]},{"id":"a9ea2de5.947d5","type":"function","z":"7c1a2c8a.ecd2b4","name":"current time","func":"var d = new Date();\n\nmsg.payload = `${ formatString(d.getHours()) }:${ formatString(d.getMinutes()) }`;\n\nreturn msg;\n\nfunction formatString(n) {\n    return n < 10 ? '0' + n : n;\n}","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["55ee4a9d.4bca84"]]},{"id":"7db931c0.5cc6d","type":"random","z":"7c1a2c8a.ecd2b4","name":"","low":"1","high":"1000","inte":"true","x":280,"y":200,"wires":[["f4913204.48496"]]},{"id":"7fee080f.edf818","type":"template","z":"7c1a2c8a.ecd2b4","name":"to message obj","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"time\": \"{{payload}}\" }","x":660,"y":120,"wires":[["cd984d2b.c29c3"]]},{"id":"d5c1605d.93571","type":"http response","z":"7c1a2c8a.ecd2b4","name":"","x":1090,"y":280,"wires":[]},{"id":"cd984d2b.c29c3","type":"function","z":"7c1a2c8a.ecd2b4","name":"json content-type","func":"msg.headers = { \"Content-Type\" : \"application/json\" };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["d5c1605d.93571"]]},{"id":"f4913204.48496","type":"change","z":"7c1a2c8a.ecd2b4","name":"store random","rules":[{"t":"set","p":"random","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"randomTime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"hasRandom","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["880f8f4a.c4dc5"]]},{"id":"880f8f4a.c4dc5","type":"template","z":"7c1a2c8a.ecd2b4","name":"to message obj","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"random\" : {{payload}} }","x":660,"y":200,"wires":[["cd984d2b.c29c3"]]},{"id":"55ee4a9d.4bca84","type":"change","z":"7c1a2c8a.ecd2b4","name":"store time","rules":[{"t":"set","p":"time","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"hasTime","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["7fee080f.edf818"]]},{"id":"e7eebab0.d6f198","type":"template","z":"7c1a2c8a.ecd2b4","name":"generate page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#flow.hasTime}}\nTime last server time request received at {{flow.time}}.\n{{/flow.hasTime}}\n{{^flow.hasTime}}\nNo server time requests have been received\n{{/flow.hasTime}}\n\n{{#flow.hasRandom}}\nLast random number request returned {{flow.random}}, which was received at {{flow.randomTime}}\n{{/flow.hasRandom}}\n{{^flow.hasRandom}}\nNo requests for random numbers have been received\n{{/flow.hasRandom}}","x":660,"y":280,"wires":[["8c41f2a9.63ba"]]},{"id":"8c41f2a9.63ba","type":"function","z":"7c1a2c8a.ecd2b4","name":"html content-type","func":"msg.headers = { \"Content-Type\" : \"text/html\" };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":280,"wires":[["d5c1605d.93571"]]}]
