assignments/QuickFlowOnRaspberryPi.json
[{"id":"f4b9d787.6c5ee","type":"tab","label":"Quickstart Flow"},{"id":"2644b25a.188f4e","type":"wiotp out","z":"f4b9d787.6c5ee","authType":"d","qs":"true","qsDeviceId":"2644b25a.188f4e","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","name":"publish to quickstart","x":750,"y":194,"wires":[]},{"id":"fa6c15f7.76f0c8","type":"inject","z":"f4b9d787.6c5ee","name":"every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":109,"y":116,"wires":[["fb46f1a1.53221"]]},{"id":"ee00a94a.8381a8","type":"function","z":"f4b9d787.6c5ee","name":"format for bluemix","func":"var pieces = msg.payload.split('=');\nmsg.payload = { d: { temp : parseFloat(pieces[1]) }};\nreturn msg;","outputs":1,"noerr":0,"x":509.5,"y":228,"wires":[["163b66f1.338819","2644b25a.188f4e"]]},{"id":"163b66f1.338819","type":"debug","z":"f4b9d787.6c5ee","name":"write to debug","active":true,"console":"false","complete":"payload","x":733.5,"y":269,"wires":[]},{"id":"fb46f1a1.53221","type":"exec","z":"f4b9d787.6c5ee","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"","timer":"","name":"get cpu temp","x":302.5,"y":187.5,"wires":[["ee00a94a.8381a8"],[],[]]}]

