fun/nytimes-scrapper.json
[{"id":"3037941d.b5d33c","type":"tab","label":"NYTimes Headlines"},{"id":"c1e6d6e.bb81628","type":"http request","z":"3037941d.b5d33c","name":"GET https://nytimes.com/","method":"GET","ret":"txt","url":"https://www.nytimes.com/","tls":"","x":210,"y":180,"wires":[["2a27625f.bccf7e"]]},{"id":"fe51ff04.68eaa","type":"debug","z":"3037941d.b5d33c","name":"to debug tab","active":true,"console":"false","complete":"payload","x":450,"y":300,"wires":[]},{"id":"a15c1cd5.a219","type":"inject","z":"3037941d.b5d33c","name":"when clicked","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":120,"wires":[["c1e6d6e.bb81628"]]},{"id":"2a27625f.bccf7e","type":"html","z":"3037941d.b5d33c","name":"extract the <h2> text","tag":"article[id^=\"topnews-\"] h2.story-heading","ret":"text","as":"single","x":340,"y":240,"wires":[["fe51ff04.68eaa"]]},{"id":"a7304a92.6bc188","type":"catch","z":"3037941d.b5d33c","name":"","scope":null,"x":260,"y":340,"wires":[["9f9cd09b.2937c"]]},{"id":"9f9cd09b.2937c","type":"debug","z":"3037941d.b5d33c","name":"","active":true,"console":"false","complete":"payload","x":410,"y":420,"wires":[]}]